@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Bitter:wght@400;700&display=swap');

* {
    font-family: 'Bitter', serif;
}

h1 {
    font-family: 'Arvo', serif; 
    font-size: 55px;
}

h2 {
    font-family: 'Arvo', serif; 
    font-size: 45px; 
    margin-top: 50px;   
    margin-bottom: 20px;  
}

h3 {
    font-family: 'Arvo', serif; 
    font-size: 35px;
    margin-top: 50px;   
    margin-bottom: 20px;
}

.text-grey {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    transition: all 0.5s linear;
    padding: 5px;
} 

.text-grey:hover {
    color: rgba(255,255,255,1)
}

.dark-blue {
    background-color: #355876;
}

.blog-post img {
    padding: 10px;
    width: 100%;
}

.author {
    display: flex;
    height: 70px;
    line-height: 0px;
    align-items: center;
    justify-content: space-between;
    width: 305px;
    margin-bottom: 55px;
}

.author-svg {
    position: absolute;
}

.author img {
    height: 65px;
    width: 65px;
    border-radius: 50%;
    margin-left: 5px;
}

.details {
    display: flex;
    flex-direction: column;
    width: 225px;
    height: 70px;
    justify-content: space-evenly;
    margin-left: 10px;
    color: black;
}

.author-details {
    display: flex;
    width: 265px;
    justify-content: space-between;
}

.author-details p {
    padding: 10px;
}

.time-details {
    margin-left: 10px;
    margin-top: -5px;
    font-size: 14px;
    color: grey;
}

.time-details span {
    color: black;
    font-size: 16px;
    margin-left: 2px;
}


.follow {
    color: green;
    border: 0.5px solid green;
    padding: 10px;
    border-radius: 3px;
}

.blog-post {
    font-size: 25px;
}

.bolder {
    font-weight: bolder;
}

.green {
    background-color: rgba(172, 255, 47, 0.415);
}

.highlight {
    border-left: 4px solid black;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 15px;
}

li {
    padding: 15px;
}

@media(max-width: 768px) {
    .container {
        width: 100vw;
    }
}