@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Slabo+27px&display=swap');

/* * {
    padding: 0;
    margin: 0;
    font-family: 'Slabo 27px', serif;
} */

h1 {
    font-family: 'Arvo', serif; 
    font-size: 55px;
}

.text-grey {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    transition: all 0.5s linear;
    padding: 5px;
} 

.text-grey:hover {
    color: rgba(255,255,255,1)
}

.dark-blue {
    background-color: #355876;
}

.blog-post img {
    width: 95%;
    padding: 10px;
}

.author {
    display: flex;
    /* height: 70px; */
    line-height: 0px;
    align-items: center;
    justify-content: flex-start;
}

.author-svg {
    position: absolute;
}

.author img {
    height: 52px;
    width: 52px;
    border-radius: 50%;
    margin-left: 4px;
}

.author-details {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.author-details p {
    font-size: 12.5px;
    padding: 2.5px;
}

.follow {
    border: 0.5px solid black;
    border-radius: 3px;
    margin-left: 5px;
    padding: 2.5px 15px;
}

ol, ul {
    width: 90%;
    margin-left: 25px;
    font-size: 18px;
    font-weight: bold;
}

@media(max-width: 768px) {
    .container {
        width: 100vw;
    }
}